<h2>Information on the Sighting called in by <span style=" font-style: italic;"> <%= @samaritan.name() %></span>:</h2>

<!-- <p>Time of sighting: <%= @child_ticket.time() %></p> <br>
<p>Location of sighting: <%= @child_ticket.location() %></p> <br>
<p>Description of the animal: <%= @child_ticket.description() %></p> <br>
<p>Type of sighted animal: <%= @child_ticket.animal_type() %></p> <br>
<p>Sex of sighted animal: <%= @child_ticket.sex() %></p> <br>
<p><%= @samaritan.name() %> has <%= @insert_posession %> posession of the animal.</p> <br>
<p><%= @samaritan.name() %> expressed <%= @insert_news %> wish to be informed on further news on the animal.</p> <br> -->

<br>
<table id="ticket" style="width:75%, text-align:left;">
  <tr>
    <th>Time of sighting:</th>
    <td><%= @child_ticket.time() %></td>
  </tr>
  <tr>
    <th>Location of sighting:</th>
    <td><%= @child_ticket.location() %></td>
  </tr>
  <tr>
    <th>Description of the animal:</th>
    <td><%= @child_ticket.description() %></td>
  </tr>
  <tr>
    <th>Type of sighted animal:</th>
    <td><%= @child_ticket.animal_type() %></td>
  </tr>
  <tr>
    <th>Sex of sighted animal:</th>
    <td><%= @child_ticket.sex() %></td>
  </tr>
  <tr>
    <td colspan ="2"><%= @samaritan.name() %> has <%= @insert_posession %> posession of the animal.</td>
  </tr>
  <tr>
    <td colspan ="2"><p><%= @samaritan.name() %> expressed <%= @insert_news %> wish to be informed on further news on the animal.</p></td>
  </tr>
  <tr>
    <th>Linked to rescued animal:</th>
    <td>fill in parent-ticket here</td>
  </tr>
</table>
