<h2>Information on the Ticket called in by <%= @samaritan.name() %>:</h2>

<p>Time of sighting: <%= @child_ticket.time() %></p> <br>
<p>Location of sighting: <%= @child_ticket.location() %></p> <br>
<p>Description of the animal: <%= @child_ticket.description() %></p> <br>
<p>Type of sighted animal: <%= @child_ticket.animal_type() %></p> <br>
<p>Sex of sighted animal: <%= @child_ticket.sex() %></p> <br>
<p><%= @samaritan.name() %> has <%= @insert_posession %> posession of the animal.</p> <br>
<p><%= @samaritan.name() %> expressed <%= @insert_news %> wish to be informed on further news on the animal.</p> <br>
