
<h2> <i><% @organization.id() %> <%= @organization.name() %></i>'s info:</h2>

<p>Address: <%= @organization.address %></p>
<p>Phone: <%= @organization.phone %></p>
<p>Email: <%= @organization.email %></p>
<p>Website: <%= @organization.website %></p>
<p>Facebook: <a href="<%= @organization.social %>" target="_blank"><%= @organization.social %></a></p>
<p>Contact Name: <%= @organization.contact_name %></p>
<p>Hours: <%= @organization.hours %></p>
<p>Mission Statement: <%= @organization.mission_statement %></p>

<a class="btn btn-info" href="/organizations/<%= @organization.id() %>/new_ticket">Claim an animal!</a>

<a class="btn btn-warning" href="/organizations/<%= @organization.id() %>/tickets_list">Manage your animals!</a>
