<div class="panel panel-defaul">
  <div class="panel-heading"><h2>The ticket of <i><%= @parent_ticket.name() %></i></h2></div>
  <div class="panel-body">

<img src="<%= @parent_ticket.picture() %>" alt="picture of the animal" />
<br>
<table id="parent_ticket" style="width:75%, text-align:left;">
  <tr>
    <th>In the care of:</th>
    <td><%= @organization.name() %></td>
  </tr>
  <tr>
    <th>Sterilized?</th>
    <td><%= @parent_ticket.sterilized? %></td>
  </tr>
  <tr>
    <th>Ready for adoption?</th>
    <td><%= @parent_ticket.adoption_ready? %></td>
  </tr>
</table>

<br>
<table id="child_ticket" style="width:75%, text-align:left;">

  <tr>
    <th>Times of sightings:</th>
    <td>
        <% @parent_ticket.child_tickets.each() do |child_ticket|%>
          <ul>
            <li><%= child_ticket.time %> </li>
          </ul>
        <% end %>
    </td>
  </tr>
  <tr>
    <th>Locations of sightings:</th>
    <td>
        <% @parent_ticket.child_tickets.each() do |child_ticket|%>
          <ul>
            <li><%= child_ticket.location %> </li>
          </ul>
        <% end %>
    </td>
  </tr>
  <tr>
    <th>Descriptions of the animal:</th>
    <td>
        <% @parent_ticket.child_tickets.each() do |child_ticket|%>
          <ul>
            <li><%= child_ticket.description %> </li>
          </ul>
        <% end %>
    </td>
  </tr>
  <tr>
    <th>Types of sighted animal:</th>
    <td>
        <% @parent_ticket.child_tickets.each() do |child_ticket|%>
          <ul>
            <li><%= child_ticket.animal_type %> </li>
          </ul>
        <% end %>
    </td>
  </tr>
  <tr>
    <th>Sexes of sighted animal:</th>
    <td>
        <% @parent_ticket.child_tickets.each() do |child_ticket|%>
          <ul>
            <li><%= child_ticket.sex %> </li>
          </ul>
        <% end %>
    </td>
  </tr>
  <tr>
    <th>Were samaritans in possession?</th>
    <% @parent_ticket.child_tickets.each() do |child_ticket|%>
      <ul>
        <li><%= child_ticket.possession %> </li>
      </ul>
    <% end %>
  </tr>
  <tr>
    <th>Were samaritans interested in news?</th>
    <% @parent_ticket.child_tickets.each() do |child_ticket|%>
        <ul>
          <li><%= child_ticket.news %> </li>
        </ul>
      <% end %>
  </tr>
</table>
</div>
</div>
