<h2>Sightings contributed by <i> <%= @samaritan.name() %></i>:</h2>
<br>
<%if @samaritan.child_tickets.any? %>

	<ul>
		<% @samaritan.child_tickets.each do |child_ticket| %>
		<li><a href="/samaritans/<%= @samaritan.id() %>/tickets/<%= child_ticket.id %>"> <i class="fa fa-paw"></i></i><span class="list-left"><%= child_ticket.animal_type() %> at <%= child_ticket.time() %></a></li>
		<% end %>
	</ul>

<% else %>

		<p>There are no sightings contributed yet!</p>

<% end %>
